
<div class="container-lg mb-5">
  <div class="row mx-0 mb-0 pb-0">
    <div class="container-lg m-0 p-0 bg-transparent">
      <div id="header-carousel" class="carousel slide container-lg bg-transparent" data-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active  justify-content-center" >
            <div class="row align-items-center" >
              <div class="col-lg-6 " >
                <img class=""  src="assets/img/carouselImage.png" alt="..." />
              </div>
              <div class="col-lg-6 ">
                <small class="p-0 mb-0">DISCOUNT ON FIRST ORDER</small>
                <h1 class="p-0 m-0">Organic Food</h1>
                <h1 class="p-0 m-0 font-weight-bold">NaturalCuisine</h1>

                <button class="btn btn-secondary mt-2 rounded box-shadow">Shop Now</button>
                <button class="btn btn-primary ml-2 mt-2 rounded box-shadow">View More</button>
              </div>
            </div>
          </div>
        </div>
            <!-- <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
         <div class="btn btn-dark" style="width: 45px; height: 45px;">
           <span class="carousel-control-prev-icon mb-n2"></span>
         </div>
       </a>
       <a class="carousel-control-next" href="#header-carousel" data-slide="next">
         <div class="btn btn-dark" style="width: 45px; height: 45px;">
           <span class="carousel-control-next-icon mb-n2"></span>
         </div>
       </a>-->
      </div>
    </div>
  </div>
 </div>

  <div class="container mt-5 ">
    <div class="row px-xl-5 pb-3 justify-content-center ">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border " style="padding: 30px;">
          <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border " style="padding: 30px;">
          <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
          <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border " style="padding: 30px;">
          <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">3-Day Return</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center border" style="padding: 30px;">
          <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
        </div>
      </div>
    </div>
  </div>


  <!-- Featured End -->
  <!-- Categories Start -->
  <div class="container  pt-5 p-5" >
    <div class="text-center mb-4">
      <h2 class="section-title px-5"><span class="px-2">New Products</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1" *ngFor="let newProduct of newest">
        <div class="card product-item border-0 mb-4" >
          <div class="card-header product-img d-flex justify-content-center align-items-end overflow-hidden bg-transparent border p-0">
            <img class="img-fluid w-50" src="{{newProduct.imageUrl}}" alt="">
          </div>
          <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3">{{newProduct.name}}</h6>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center bg-light border">
            <div class="d-flex justify-content-center">
              <h6 class="p-0 m-0">$ {{newProduct.unitPrice}}</h6><h6 class="text-muted p-0 m-0 ml-2"><del>{{newProduct.unitPrice}}</del></h6>
            </div>
              <a href="javascript:void(0);" class="btn  px-3 py-0 text-dark " (click)="addToCart(newProduct)"><i class="fas fa-shopping-cart text-primary  mr-2 p-0"></i>Add </a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Products End -->
  <!-- Categories End -->
  <!-- Offer Start -->
  <div class="container offer pt-5" >
    <div class="row px-xl-5">
      <div class="col-md-6 pb-4">
        <div class="position-relative text-center text-md-right text-white mb-2 py-5 px-5 bg-primary">
          <img src="assets/img/offer/offer-1.png" alt="">
          <div class="position-relative" style="z-index: 1;">
            <h5 class="text-uppercase  mb-3">20% off the all order</h5>
            <h1 class="mb-4 font-weight-semi-bold text-white">Spring Groceries</h1>
            <a routerLink="/products" class="btn  btn-inverted-primary py-md-2 px-md-3">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-4">
        <div class="position-relative text-center text-md-left text-white mb-2 py-5 px-5" style="border: solid 2px #7FAD39">
          <img src="assets/img/offer/GroceryBag.png" alt="">
          <div class="position-relative" style="z-index: 1;">
            <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
            <h1 class="mb-4 font-weight-semi-bold">Healthy Pack </h1>
            <a routerLink="/products" class="btn btn-light   py-md-2 px-md-3">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Offer End -->
  <!-- Subscribe Start
      <div class="container  pt-5 p-5" style="min-width:67%;background: #fafafa !important ; border: solid 2px #7FAD39;">
      <div class="row justify-content-md-center py-5 px-xl-5">
          <div class="col-md-6 col-12 py-5">
              <div class="text-center mb-2 pb-2">
                  <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                  <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
              </div>
              <form action="">
                  <div class="input-group">
                      <input type="text" class="form-control border-white p-4" style="border:solid 1px #7FAD39 !important" placeholder="Email Goes Here">
                      <div class="input-group-append">
                          <button class="btn btn-light px-4">Subscribe</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <!-- Subscribe End -->
  <!-- Products Start -->
  <div class="container  pt-5 p-5" >
    <div class="text-center mb-4">
      <h2 class="section-title px-5"><span class="px-2">Highest rated</span></h2>
    </div>
    <div class="row px-xl-5 pb-3  ">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1  " *ngFor="let highestRatedProduct of highestRated">
        <div class="card product-item border-0 mb-4">
          <div class="card-header product-img d-flex justify-content-center align-items-end overflow-hidden bg-transparent border p-0">
            <img class="img-fluid w-50" src="{{highestRatedProduct.imageUrl}}" alt="">
          </div>
          <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3">{{highestRatedProduct.name}}</h6>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center bg-light border">
            <div class="d-flex justify-content-center">
              <h6 class="p-0 m-0">$ {{highestRatedProduct.unitPrice}}</h6><h6 class="text-muted p-0 m-0 ml-2"><del>{{highestRatedProduct.unitPrice}}</del></h6>
            </div>
            <a href="javascript:void(0);" class="btn  px-3 py-0 text-dark " (click)="addToCart(highestRatedProduct)"><i class="fas fa-shopping-cart text-primary  mr-2 p-0"></i>Add </a>
          </div>
        </div>


      </div>
      </div>
     
    </div>

  <!-- Products End -->
  <!-- Vendor Start -->

