<!-- Topbar Start -->
<div class="d-flex flex-column p-0 m-0">
  <div class="row justify-content-center mx-0 px-0 mx-0 bg-secondary mb-3">

    <div class="col-lg-7  px-0 mx-0  justify-content-start">

      <div class="row  px-0 mx-0" style="">
        <div class="col-lg-6 d-none d-lg-block justify-content-start px-0 mx-0">
          <div class=" align-items-center">
            <a class="text-dark" href="">FAQs</a>
            <span class="text-muted px-2">|</span>
            <a class="text-dark" href="">Help</a>
            <span class="text-muted px-2">|</span>
            <a class="text-dark" href="">Support</a>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-end px-0 mx-0">
          <div class="d-inline-flex">
            <a class="text-dark px-2" href="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="text-dark pl-2" href="">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->


<app-category-list></app-category-list>

<router-outlet></router-outlet>
